extends layout

block content
  .panel.panel-default
    .panel-heading
      h1 Alle Fachbereiche+Permalinks der dazugehörigen Institute
    .panel-body   
      p 
        table.table
          thead
            tr
              th Name
              th Website
              th Institute
          tbody
            each object, i in database
              tr
                th= object.name
                th
                  a(href=object.website)= object.website
                th
                  a(href='/'+object.institute)= object.institute
script(src='javascripts/object.js')