extends layout

block content    
  .container-fluid.fill-height
    .row
      .col-xs-12.col-md-12
        .panel.panel-default
          .panel-heading
            h3.panel-title Aufgabenstellung
          .panel-body
            h4 Entwickelt für neue Studierenden einen karten-basierten, interaktiven Planer zum Hinzufügen und zur Suche von Einrichtungen der WWU.
              br
              br
            p
              | > Neues Institut hinzufügen (Name, Bild, Geometrie) 
              br
              br
              | > Neuer Fachbereich hinzufügen (anhand einem Formular) 
              br
              br
              | > Alle Mensen von Münster auf der Karte darstellen 
              br
              br
              | > Navigation 
              br
              br
              | > Speichern 
              br
              br
              | > Suche 
              br
              br
              | > Layout & Design 
              br
              br
              | > Komponententest