extends layout

block content
  .container-fluid.fill-height
    .row.toolbar
      .col-xs-12.col-sm-9.small
        .btn-group.btn-group-xl(role='group', aria-label='...')
          button#delete.btn.btn-danger.btn-xl(type='button', aria-hidden='true', onclick='deleteLayer()', disabled='disabled')
            span.glyphicon.glyphicon-remove-circle(aria-hidden='true')
            span  Enferne Polygone
    .row
      #resizable.col-xs-12.col-sm-9
        .panel.panel-danger
          .panel-heading
            h3.panel-title Map
          .panel-body
            #map
      #mirror.col-xs-12.col-sm-3
        .panel.panel-danger
          .panel-heading
            h3.panel-title Neues Institut hinzufügen
          .panel-body
            .form-group
              label(for='institutsname-area') Institutsname
              textarea#institutsname-area.form-control(rows='1', placeholder='Hier Institutsnamen einfuegen')
            .form-group
              label(for='geojson-area') GeoJSON
              textarea#geojson-area.form-control(rows='3', placeholder='Hier Text einfuegen')
            .form-group
              button.btn.btn-danger(onclick='loadGeoJSON()')
                span
                |  Zeige auf Map
            .form-group
              label(for='url-area') URL
              textarea#url-area.form-control(rows='1', placeholder='Hier URL einfuegen')
            .form-group
              button.btn.btn-danger(onclick='loadURL()')
                span
                |  Zeige auf Map   
            .form-group
              label(for='imageurl-area') Image-URL
              textarea#imageurl-area.form-control(rows='1', placeholder='Hier Image-URL einfuegen')
              .form-group 
              button#download.btn.btn-danger.btn(type='button', onclick='saveINToDatabase()', disabled='disabled')
                span.glyphicon.glyphicon-save()
           panel
          .panel-heading
            h3.panel-title Neuen Fachbereich hinzufuegen
          .panel-body
            .form-group
              label(for='FBname') Name+Abkürzung // 
              select#FBname.form-control(name="Fachbereiche")
                option(selected disabled) Wähle deinen Fachbereich
                option(value="Evangelisch-Theologische Fakultät(FB1)") Evangelisch-Theologische Fakultät(FB1)
                option(value="Katholisch-Theologische Fakultät(FB2)") Katholisch-Theologische Fakultät(FB2)
                option(value="Rechtswissenschaftliche Fakultät(FB3)") Rechtswissenschaftliche Fakultät(FB3)
                option(value="Wirtschaftwissenschaftliche Fakultät(FB4)") Wirtschaftwissenschaftliche Fakultät(FB4)
                option(value="Medizinische Fakultät(FB5)") Medizinische Fakultät(FB5)
                option(value="Erziehungswissenschaft und Sozialwissenschaften(FB6)") Erziehungswissenschaft und Sozialwissenschaften(FB6)
                option(value="Psychologie und Sportwissenschaften(FB7)") Psychologie und Sportwissenschaften(FB7)
                option(value="Geschichte/Philosophie(FB8)") Geschichte/Philosophie(FB8)
                option(value="Philologie(FB9)") Philologie(FB9)
                option(value="Mathematik und Informatik(FB10)") Mathematik und Informatik(FB10)
                option(value="Physik(FB11)") Physik(FB11)
                option(value="Chemie und Pharmazie(FB12)") Chemie und Pharmazie(FB12)
                option(value="Biologie(FB13)") Biologie(FB13)
                option(value="Geowissenschaften(FB14)") Geowissenschaften(FB14)
                option(value="Musikhochschule(FB15)") Musikhochschule(FB15)
            .form-group
              label(for='FBurl-area') Webseite(n)
              textarea#FBurl-area.form-control(rows='1', placeholder='Hier URL einfuegen')
            .form-group
              label(for='institute') Institut(e)
              textarea#institute.form-control(rows='1', placeholder='Hier Institute einfuegen')
            .form-group
              button#download.btn.btn-danger.btn(type='button', onclick='NavigierzuMensa()')
                span.glyphicon.glyphicon-save()

  // /.container
  script(src='javascripts/map.js')
  script(src='javascripts/read_functions.js')
  script(src='javascripts/load_functions.js')
  script(src='javascripts/save_functions.js')
  script(src='javascripts/delete_functions.js')
  script(src='javascripts/resize.js')