extends layout

block content
  .container-fluid.fill-height
    .row.toolbar
      .col-xs-12.col-sm-9.small
        .btn-group.btn-group-xl(role='group', aria-label='...')
          button#delete.btn.btn-danger.btn-xl(type='button', aria-hidden='true', onclick='deleteLayer()', disabled='disabled')
            span.glyphicon.glyphicon-remove-circle(aria-hidden='true')
            span  Enferne Polygone
    .row
      #resizable.col-xs-12.col-sm-9
        .panel.panel-danger
          .panel-heading
            h3.panel-title Map
          .panel-body
            #map
        .panel.panel-danger
          .panel-heading
            h3.panel-title Suchen und Laden
          .panel-body
            label(for='institutload-area',style="color:white;") Institut
            textarea#institutload-area.form-control(rows='1', placeholder='Hier Institutsname einfügen')
            label(for='fachbereichload-area',style="color:white;") Fachbereich
            textarea#fachbereichload-area.form-control(rows='1', placeholder='Hier Fachbereichsnamen einfügen')
            label(for='routenload-area',style="color:white;") Route
            textarea#routenload-area.form-control(rows='1', placeholder='Hier Routennamen einfügen')
            .form-group
            button.btn.btn-danger(onclick='loadINFromDatabase()')
                span
                |  Institut suchen und laden
            button.btn.btn-danger(onclick='loadFBFromDatabase()')
                span
                |  Fachbereich suchen und laden
            button.btn.btn-danger(onclick='loadRouteFromDatabaseName()')
               span
                |  Route(Name) suchen und laden
            button.btn.btn-danger(onclick='loadRouteFromDatabaseStart()')
               span
                |  Route(Start) suchen und laden
            button.btn.btn-danger(onclick='loadRouteFromDatabaseZiel()')
               span
                |  Route(Ziel) suchen und laden
            .form-group    
            label(style="color:white;") geladener Fachbereich
            pre#loadedFB
      #mirror.col-xs-12.col-sm-3
        .panel.panel-danger
          .panel-heading
            h3.panel-title Neues Institut hinzufügen
          .panel-body
            .form-group
              label(for='institutsname-area') Institutsname
              textarea#institutsname-area.form-control(rows='1', placeholder='Hier Institutsnamen einfügen')
            .form-group
              label(for='geojson-area') GeoJSON
              textarea#geojson-area.form-control(rows='3', placeholder='Hier Text einfügen')
            .form-group
              button.btn.btn-danger(onclick='loadGeoJSON()')
                span
                |  Zeige auf Map
            .form-group
              label(for='url-area') URL
              textarea#url-area.form-control(rows='1', placeholder='Hier URL einfügen')
            .form-group
              button.btn.btn-danger(onclick='loadURL()')
                span
                |  Zeige auf Map   
            .form-group
              label(for='imageurl-area') Image-URL
              textarea#imageurl-area.form-control(rows='1', placeholder='Hier Image-URL einfügen')
              .form-group 
              label Speichern/Bearbeiten/Löschen
              br
              button#download.btn.btn-danger.btn(type='button', onclick='saveINToDatabase()', disabled='disabled')
                span.glyphicon.glyphicon-save()
              button#download.btn.btn-danger.btn(type='button', onclick='updateINinDatabase()', disabled='disabled')
                span.glyphicon.glyphicon-edit()
              button#download.btn.btn-danger.btn(type='button', onclick='deleteINfromDatabase()', disabled='disabled')
                span.glyphicon.glyphicon-trash()
           panel
          .panel-heading
            h3.panel-title Neuen Fachbereich hinzufügen
          .panel-body
            .form-group
              label(for='FBname') Name+Abkürzung // 
              select#FBname.form-control(name="Fachbereiche")
                option(selected disabled) Wähle deinen Fachbereich
                option(value="Evangelisch-Theologische Fakultät(FB1)") Evangelisch-Theologische Fakultät(FB1)
                option(value="Katholisch-Theologische Fakultät(FB2)") Katholisch-Theologische Fakultät(FB2)
                option(value="Rechtswissenschaftliche Fakultät(FB3)") Rechtswissenschaftliche Fakultät(FB3)
                option(value="Wirtschaftwissenschaftliche Fakultät(FB4)") Wirtschaftwissenschaftliche Fakultät(FB4)
                option(value="Medizinische Fakultät(FB5)") Medizinische Fakultät(FB5)
                option(value="Erziehungswissenschaft und Sozialwissenschaften(FB6)") Erziehungswissenschaft und Sozialwissenschaften(FB6)
                option(value="Psychologie und Sportwissenschaften(FB7)") Psychologie und Sportwissenschaften(FB7)
                option(value="Geschichte/Philosophie(FB8)") Geschichte/Philosophie(FB8)
                option(value="Philologie(FB9)") Philologie(FB9)
                option(value="Mathematik und Informatik(FB10)") Mathematik und Informatik(FB10)
                option(value="Physik(FB11)") Physik(FB11)
                option(value="Chemie und Pharmazie(FB12)") Chemie und Pharmazie(FB12)
                option(value="Biologie(FB13)") Biologie(FB13)
                option(value="Geowissenschaften(FB14)") Geowissenschaften(FB14)
                option(value="Musikhochschule(FB15)") Musikhochschule(FB15)
            .form-group
              label(for='FBurl-area') Webseite(n)
              textarea#FBurl-area.form-control(rows='1', placeholder='Hier URL einfügen')
            .form-group
              label(for='institute') Institut(e)
              textarea#institute.form-control(rows='1', placeholder='Hier Institute einfügen')
            .form-group
              label Speichern/Bearbeiten/Löschen
              br
              button#download.btn.btn-danger.btn(type='button', onclick='saveFBToDatabase()')
                  span.glyphicon.glyphicon-save()
              button#download.btn.btn-danger.btn(type='button', onclick='updateFBinDatabase()')
                  span.glyphicon.glyphicon-edit()
              button#download.btn.btn-danger.btn(type='button', onclick='deleteFBfromDatabase()')
                  span.glyphicon.glyphicon-trash()
          .panel-heading
            h3.panel-title Neue Route hinzufügen
          .panel-body
            .form-group
              label(for='routenname-area') Routenname
              textarea#routenname-area.form-control(rows='1', placeholder='Hier Routenname einfügen')
            .form-group
            label Speichern/Bearbeiten/Löschen
            br
            button#download.btn.btn-danger.btn(type='button', onclick='saveRouteToDatabase()')
                span.glyphicon.glyphicon-save()
            button#download.btn.btn-danger.btn(type='button', onclick='updateRouteinDatabase()')
                span.glyphicon.glyphicon-edit()
            button#download.btn.btn-danger.btn(type='button', onclick='deleteRoutefromDatabase()')
                span.glyphicon.glyphicon-trash()


  // /.container
  script(src='javascripts/map.js')
  script(src='javascripts/read_functions.js')
  script(src='javascripts/load_functions.js')
  script(src='javascripts/save_functions.js')
  script(src='javascripts/delete_functions.js')
  script(src='javascripts/update_functions.js')
  script(src='javascripts/resize.js')