extends layout

block content
  .panel.panel-default
    .panel-heading
      h3.panel-title= "Objekt in Datenbank: "+ dbName
    .panel-body  
      p
        a(href='/database')
          button.btn.btn-success(type='button') Zurueck zur Liste
      #map
  #white.white= text
script(src='javascripts/object.js')
