
html, body {
    height: 100%;
    background: black;
}

.fill-height {
    margin-top: 1rem;
    min-height: 100%;
    height: auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
    background: black;
}

body {
    padding-top: 50px;
}

#resizable {
    height: 55rem;
    border-right: 3px solid #fd0000;
    min-width: 36rem !important;
}

#resizable > div {
    background: none;
}

#map {
    height: 45rem;
    margin-top: 1rem;
    background-color: #dddddd;
}

div.toolbar {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

div.toolbar p {
    margin-bottom: 0px;
}